.main {
  /* height: 100vh; */
  background-color: #2b2d42;
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__heading {
  font-family: "Montserrat";
  /* font-family: 'Roboto'; */
  font-size: 36px;
  font-weight: 500;
  /* letter-spacing: 1px; */

  margin: 32px 0;
}
.main__image {
  width: 400px;
  height: 400px;

  outline: solid 5px lightslategray;

  border-radius: 100%;
}

