.main {
  /* height: 100vh; */
  background-color: #2b2d42;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  /* border: 2px solid red; */
  padding: 32px 0;
  flex-grow: 1;
}
.main__hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid blue; */
  height: 65vh;
  padding: 0 32px 50px;
}
.main__heading {
  font-family: "Montserrat";
  /* font-family: 'Roboto'; */
  font-size: 36px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  text-align: center;
  margin: 0 0 74px 0;
  /* border: 2px solid green; */
}
.main__heading_dark {
  /* color:#353535; */
  color: rgba(236, 236, 240);
}

.main__cards {
  margin: 0 auto;

  /* background-color: rgb(94, 139, 203); */
  /* background-color: white;
  padding: 5px; */
  border-radius: 8px;
}
.main__cards_bg_light {
  background-color: white;
}
.main__cards_bg_dark {
  background-color: rgba(43, 45, 66);
  /*#474c5e = 71,76,94*/
  /* background-color:rgba(140,139,139,.6); */
  /* background-color:rgba(71,76,94,.2); */
  padding: 32px 60px 50px;
}

.main__cards_list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(2, minmax(auto, 400px));
  gap: 40px;
}
.main__image {
  width: 400px;
  height: 400px;

  outline: solid 1px rgb(64, 63, 63);

  border-radius: 100%;
  box-shadow: rgba(245, 217, 217, 0.55) 0px 5px 55px 20px;
}
