.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  padding: 40px 20px 20px;
}

.form__body {
  display: flex;
  flex-direction: column;
}
.form__button {
  padding: 12px;
  border-radius: 10px;
  border: 1px rgba(128, 128, 128, 0.7) solid;
  font-weight: 500;
  margin: 10px;
  width: 130px;
}
.form__button:hover {
  cursor: pointer;
  opacity: 0.9;
  background-color: #2b2d42;
  color: white;
  font-weight: 400;
  border: 1px solid #2b2d42;
}
.form__button_type_submit {
  background-color: #2f71e5;
}
.form__button_type_cancel {
  background-color: white;
}
.form__button_type_checkbox {
  width: 24px;
  height: 24px;
  border: 1px rgba(128, 128, 128, 0.7) solid;
 
}
.form__button_type_checkbox:hover {
  cursor: pointer;

  border: 1px solid #2f71e5;
}
.form__checkbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  gap: 16px;
}
.form__label {
  font-size: 12px;
  color: #133063;
  font-weight: 700;
  align-self: flex-start;
  text-align: left;
  font-weight: 500;
}
.form__label_type_checkbox {
  font-size: 14px;
}

.form__input {
  padding: 12px;
  border-radius: 10px;
  border: 1px rgba(128, 128, 128, 0.7) solid;
}
.form__input:hover {
  background-color: #367bf24b;
  border: 1px #2b2d42 solid;
}
.form__input:focus {
  background-color: white;
}
.form__invalid-feedback {
  color: red;
}
