.card {
  min-height: 250px;
  width: 400px;
  list-style: none;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(256, 256, 256, 0.975);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  color: #4e4e4e;
}
.card__bg {
  position: absolute;
  bottom: 90px;
  right: 5px;
  z-index: 0;
  width: 154px;
  padding: 0;
}
.card__section {
  padding: 0 20px;
}

.card__section_footer {
  background-color: rgba(43, 45, 66, 0.15);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  padding: 5px 20px 5px 16px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
  padding: 20px 20px 10px;

  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  color: #4e4e4e;
}
.card__header_content {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #42424267;
  width: 100%;
  align-items: center;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  z-index: 1;
  margin: 0;
}

.card__line {
  display: flex;
  padding-bottom: 15px;
  z-index: 1;
}
.card__line_column {
  flex-direction: column;
}

.card__text {
  font-size: 18px;
  /* color: #5b5b5b; */
  color: #424242;
  font-weight: 500;
  margin: 0;
  z-index: 1;
}
.card__text_med {
  font-size: 12px;
  font-weight: 400;
}
.card__text_small {
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding-bottom: 30px;
}
.card__text_light {
  color: white;
  font-weight: 400;
}
.card__text_indent {
  padding-left: 20px;
}

.card__button {
  border-radius: 100%;
  transition: all 0.25s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: none;

  height: 30px;
  width: 30px;
  padding: 0;
  fill: none;
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.card__button:hover {
  box-shadow: rgba(213, 157, 169) 0px 0px 15px;
  cursor: pointer;
}

.card__button_type_svg {
  stroke: rgba(140, 139, 139, 0.7);
}
.card_-button_type_bookmark {
  fill: #434343;
}
.card__button_type_bookmark:hover {
  fill: rgba(140, 139, 139, 0.6);
}

.card__button_type_trash {
  background-image: url("../../images/trash-med.svg");
  height: 30px;
  width: 30px;
  padding: 0;
  border: none;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px; */
}

.card__button_type_svg:hover {
  /* stroke: rgb(235, 35, 238); */
  /* stroke:white; */
  stroke: #434343;
  cursor: pointer;
}
