.card {
  /* background-color: #f6dfdfed; */
  /* background-color: white; */
  height: 250px;
  width: 400px;
  border: 1px solid red;
  list-style: none;
  padding: 20px 0 20px 40px;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
}
.card__color_light{
    background-color: white;
    color:#5b5b5b;
}
.card__color_dark{
    background-color: #101332d2;
    color:white;
}

.card__bg {
  position: absolute;
  bottom: 10px;
  right: 5px;
  z-index: 0;
  width: 154px;
  padding: 0;
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__title {
  font-weight: 700;
  font-size: 20px;
  z-index: 1;
  /* color: #5b5b5b; */
}
.card__line {
  display: flex;

  padding-bottom: 10px;
  z-index: 1;
}
.card__line_column {
  flex-direction: column;
}
.card__group {
  text-align: right;
}
.card__text {
  font-size: 16px;
  /* color: #5b5b5b; */
  font-weight: 500;
  margin: 0;
  z-index: 1;
}
.card__text_small {
  font-size: 12px;
  font-weight: 500;
  padding-right: 20px;
}
.card__text_indent {
  padding-left: 20px;
}
