.card {
  min-height: 250px;
  max-width: 400px;
  list-style: none;
  position: relative;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: rgba(256, 256, 256, 0.975);
  box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
  color: #4e4e4e;
}
.card__bg {
  position: absolute;
  /* bottom: 90px;
  right: 110px; */
  bottom: 90px;
  right: 5px;
  z-index: 0;
  width: 154px;
  padding: 0;
  opacity: 0.9;
}
.card__section {
  padding: 0 20px;
}

.card__section_footer {
  /* background-color: rgba(43, 45, 66, 0.15); */
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 5px;
  padding: 0px 20px 4px 16px;

  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__icon-trash {
  position: absolute;
  top: 55px;
  right: 20px;
  z-index: 10;
}
.card__button-group {
  display: flex;
  gap: 8px;
}
.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 12px;
  padding: 15px 20px 10px;

  border-top-right-radius: 8px;
  border-top-left-radius: 8px;

  color: #4e4e4e;
}
.card__header_content {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #42424267;
  width: 100%;
  align-items: center;
  padding-bottom: 8px;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  z-index: 1;
  margin: 0;
}
.card__like-container {
  display: flex;
  align-items: center;
}
.card__like-count {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.card__line {
  display: flex;
  padding-bottom: 15px;
  z-index: 1;
}
.card__line_column {
  flex-direction: column;
}

.card__text {
  font-size: 18px;
  /* color: #5b5b5b; */
  color: #424242;
  font-weight: 500;
  margin: 0;
  z-index: 1;
}
.card__text_med {
  font-size: 12px;
  font-weight: 400;
}
.card__text_small {
  font-size: 12px;
  font-weight: 300;
  width: 100%;
  padding-bottom: 30px;
}

.card__text_indent {
  padding-left: 20px;
}

@media screen and (max-width: 500px) {
  .card__bg {
    opacity: 0.5;
  }
}
