.header {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 32px 0;
  border-bottom: 1px solid #fdc9ef90;
  margin: 0 auto;
  width: 100%;
}

.header__nav {
  display: flex;
  gap: 30px;
  align-items: center;
}
.header__logo {
  max-width: 250px;
}
