.nav {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.nav_mobile {
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 20px 0;
  background-color: #2b2d42;
}
.nav__item {
  list-style: none;
}
.nav__link {
  font-size: 16px;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}

.nav__link:hover {
  color: #fdc9ef;
}
.nav__button {
  padding: 12px 32px;
  background-color: #fdc9ef;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Montserrat";
  transition: opacity 0.25s ease-in-out;
}
.nav__button:hover {
  opacity: 0.8;
  cursor: pointer;
}
