.page {
  background-color: #2b2d42;
  height: 100vh;
  margin: 0 auto;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
